body{
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(208,178,212,1) 47%, rgba(150,192,241,1) 100%);
}

#myh1{
	font-family:serif;
	font-size: 60px;
      text-shadow: 3px 3px 5px blueviolet,-3px -3px 5px palevioletred ;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	border:5px solid;
	border-radius:50px;
	padding: 30px;

}
#display{
	font-size:80px;
	font-weight: bold;
	text-shadow:4px 5px 7px blueviolet;
	margin-bottom: 35px;

}
#controls button{
	font-size: 40px;
	font-weight: bold;
	padding: 10px 20px;
	margin: 5px;
	border: 1px solid;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 1s ease;
}
#startbtn:hover{
	background: rgb(228,108,160);
background: linear-gradient(90deg, rgba(200,108,160,1) 0%, rgba(208,178,212,1) 43%, rgba(110,166,232,1) 100%);
}
#stopbtn:hover{
	background: rgb(228,108,160);
background: linear-gradient(90deg, rgba(200,108,160,1) 0%, rgba(208,178,212,1) 43%, rgba(110,166,232,1) 100%);
}

#resetbtn:hover{
	background: rgb(228,108,160);
background: linear-gradient(90deg, rgba(200,108,160,1) 0%, rgba(208,178,212,1) 43%, rgba(110,166,232,1) 100%);
}

#lapbtn:hover{
	background: rgb(228,108,160);
background: linear-gradient(90deg, rgba(200,108,160,1) 0%, rgba(208,178,212,1) 43%, rgba(110,166,232,1) 100%);
}
